

#title{
    margin-bottom: 10px;
    padding-top: 1px;
    font-family: Georgia;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 20px;
    
}



table tr td img{
    height: 370px;
    width: 370px;
    object-fit: cover;
}

table{
    
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5.2px;
}

.navbar{
    margin-top: 0px;
    padding-left: 93px;
}

.navbar a{
    text-decoration: none;
    float: left;
    padding-left: 20px;
    font-family: Georgia;
    font-style: italic;
    color: darkgray;
    font-size: small;
    
}

.navbar a :hover{
    color: black;
}

#white{
    color: white;
}

.big-container{
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    
}

#current{
    color: black;
}

.container{
    
    margin-left: auto;
    margin-left: 65px;
    margin-top: 25px;
    margin-right: auto;
    text-align: center;
    width: 642px;
    height: 128.5px;
    border: 1px solid black;

}





.big-container2{
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    margin-top: 45px;
    
}

.container2{
    
    margin-top: 80px;
}

.nature{
    
    margin-top: 0px;
    padding-left: 7px;
    font-size: 35px;
    margin-bottom: 0px;
}

.end{
    margin-top: 27px;
    font-family: Georgia;
    text-align: center;
    font-size: 9.5px;
    font-style: italic;
    padding-left: 18px;
    color: gray;
    
}

.logo{
    width: 110px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    
}

.logo img{
    padding-left: 7.5px;
    padding-right: 7.5px;
    height: 18;
    width: 18;

}

.big-container3{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-top:15px;
}